body {
    height: 100%;
}

@font-face {
    font-family: neu;
    src: url("./NeueHaasDisplayMediu.ttf");
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2vw 2vw;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

#page-logo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#nav-button {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 0px;
    position: relative;
    overflow: hidden;
}


#nav-button h4{
    border: 2px solid black;
    padding: 2px 5px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#nav-button a{
    text-decoration: none;
    color: black;
}


#nav-button a:hover {
    color: white;
    z-index: 2;
}

#nav-logo img{
    width: 100px;
    height: 100px;
}

#nav-button a::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: 0.3s ease;
    z-index: 0;
    overflow: hidden;
}

#nav-button a:hover::after {
    bottom: 0;
    border-radius: 0;
    z-index: -1;
}

.nav-title {
    font-size: 20px;
}

.user-input-container {
    height: 75vh;
}

.footer {
    height: 50vh;
    background-color: rgb(219, 213, 213);
    display: flex;
    justify-content: space-between;
}

#contact-info {
    font-family: neu;
    padding: 8px 0 0 20px;
}

.contact-title {
    font-size: 1.4vw;
}

.contact-text {
    padding-left: 0.9vw;
}

.contact-number h4{
    font-size: 1.4vw;
}

.contact-email h4{
    font-size: 1.4vw;
}

.contact-email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-email a{
    text-decoration: none;
}

.contact-email a:hover{
    color: red;
}

.feedback-form {
    padding-right: 30px;
}

.submit-button {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50px;
    margin: auto;
    margin-top: 10px;
}

.submit-button a{
    text-decoration: none;
    color: black;
}

#input-iframe{
    height: 566px;
    width: 600px;
}

#output-iframe{
    height: 566px;
    width: 1250px;
}

.iframe-container{
    padding:10px;
}

#iframe-container{
    padding:0px;
    display:flex;
}